.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 24px auto;
  max-width: 1000px;
}

.tile {
  cursor: pointer;
  border: 3px solid #ddd;
  border-radius: 8px;
  transition: all 0.2s ease;
  overflow: hidden;


 &:hover {
    border-color: #999;
    transform: scale(1.02);
  }
}

.tile.selected {
  border-color: #21d4f3ff;
  box-shadow: 0 0 8px #2196f3;
}

.tile img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}

.error {
  color: #f44336;
  margin: 12px 0;
}

//Mobile vie
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 100%;
  }
  
  .tile img {
    height: 80px;
  }
}
